extends navbars.pug

block content

	#blog.container
		h5.text-center
			ul.nav.nav-tabs.justify-content-center
						li.nav-item
							a.nav-link.pictures.active(href='#!') Pictures
						li.nav-item
							a.nav-link.videos(href='#!') Videos
		#pictures

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas10.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas9.jpg")


			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas8.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas7.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas6.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas5.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas4.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas3.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas1.jpg")


			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas2.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/gas11.jpg")


			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/ydberk.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/ydberk.png")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky10.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky5.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky12.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/jayden.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/ydwhisky.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky9.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky7.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky6.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky3.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky4.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/whisky2.jpg")


			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/yddna6.jpg")

			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/yddna5.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/yddna3.jpg")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/yddna4.jpg")


			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/yddna2.png")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/yddna.png")



			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/busk3.jpg")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/busk2.jpg")



			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/busk1.jpg")

				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/busk4.jpg")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/ydgilman.jpg")


			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/ydsac2.png")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/yssac.jpg")


			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/ydbandm3.jpg")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/ydbandm2.jpg")


			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/ydbandm.jpg")
		

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drboth5.jpg")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drboth4.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drboth.jpg")
					
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drboth2.jpg")

					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drboth3.jpg")


			.row.justify-content-around.align-items-center
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drsf4.jpg")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drsf3.png")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drsf2.png")

			.row.justify-content-around.align-items-center
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/drsf.jpg")
			    
				.col-md-5
					.img-container
						img.img-thumbnail(src="../static/css/images/photogallery/summerfest.jpg")

		#videos.justify-content-center

			.blog-post
				.title Give it a Shot - Unofficial Music Video
				hr
				.date September 19th, 2018
				.video.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src="https://www.youtube.com/embed/xHpkknyqrRc", allowfullscreen='')
				.yt-api-cont
					.g-ytsubscribe(data-channelid='UC_jExvqWhRlM-gBt9iEsLxA', data-layout='default', data-count='default')
				.accordion#desc-drop-4
					.card
						.card-header#vid4
							.mb-0
								button.btn.btn-link(type="button" data-toggle="collapse" data-target="#desc4" aria-expanded="true" aria-controls="desc4") Description
					#desc4.collapse(aria-labelledby="vid2" data-parent="#desc-drop-4")
						.card-body.description
							| What started out as a simple photo-shoot turned into over 2,000 pictures composed into a video.
							.yesdevil -YES DEVIL

			.blog-post
				.title D.F.S. - Unofficial Music Video
				hr
				.date September 1st, 2018
				.video.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src='https://www.youtube.com/embed/EsNGVIYAJO0', allowfullscreen='')
				.yt-api-cont
					.g-ytsubscribe(data-channelid='UC_jExvqWhRlM-gBt9iEsLxA', data-layout='default', data-count='default')
				.accordion#desc-drop-2
					.card
						.card-header#vid2
							.mb-0
								button.btn.btn-link(type="button" data-toggle="collapse" data-target="#desc2" aria-expanded="true" aria-controls="desc2") Description
					#desc2.collapse(aria-labelledby="vid2" data-parent="#desc-drop-2")
						.card-body.description
							| We proudly introduce to you the first song off our new album, D.F.S., feauturing live performance and studio footage.  
							.yesdevil -YES DEVIL

			hr

			.blog-post
				.title YES DEVIL @ The Whiskey Barrel
				hr
				.date August 18th, 2018
				.video.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src="https://www.youtube.com/embed/TsTGZ9Zke80", allowfullscreen='')
				.yt-api-cont
					.g-ytsubscribe(data-channelid='UC_jExvqWhRlM-gBt9iEsLxA', data-layout='default', data-count='default')
				.accordion#desc-drop-3
					.card
						.card-header#vid3
							.mb-0
								button.btn.btn-link(type="button" data-toggle="collapse" data-target="#desc3" aria-expanded="true" aria-controls="desc3") Description
					#desc3.collapse(aria-labelledby="vid3" data-parent="#desc-drop-3")
						.card-body.description
							| Live at the Whiskey Barrel Saloon. Yeah, WE LOVE OUR WHISK(E)Y! This place is a must-know for whiskey lovers. We recommend the bulleit and a brew, or maybe a few!
							.yesdevil -YES DEVIL

			hr

			.blog-post
				.title YES DEVIL @ The Whisky-A-Go-Go
				hr
				.date July 13th, 2018
				.video.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src='https://www.youtube.com/embed/pUR7AwCMr0U', allowfullscreen='')
				.yt-api-cont
					.g-ytsubscribe(data-channelid='UC_jExvqWhRlM-gBt9iEsLxA', data-layout='default', data-count='default')
				.accordion#desc-drop-1
					.card
						.card-header#vid1
							.mb-0
								button.btn.btn-link(type="button" data-toggle="collapse" data-target="#desc1" aria-expanded="true" aria-controls="desc1") Description
					#desc1.collapse(aria-labelledby="vid1" data-parent="#desc-drop-1")
						.card-body.description
							| With everything that's been happening to us lately, this last show of ours at the world famous Whisky-A-Go-Go opening up for a band we really look up to was a bright light in the midst of dark uncertainty. Without the much appreciated help of Jack Terrent and Jayden Hammer (from 
							a(target='_blank', href='https://open.spotify.com/artist/2SbauLKBtTvW9bS4cZRvHy') Novicain Road
							| ) filling in on bass and lead guitar, this show surely would have been a disaster, should we have even played it at all. With that said, we'd like to start being more open with our followers about what we've gone through and what we're currently going through as a band. Soon we will be putting together a video detailing a brief history of our band and our situation as of right now. Until then, we hope you enjoy this live video from our latest performance at the Whisky-A-Go-Go opening up for L.A. Guns. 
							.yesdevil -YES DEVIL

			hr

			.blog-post
				.title Dead Ringer @ Bottom of the Hill
				hr
				.date December 28th, 2018
				.video.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src='https://www.youtube.com/embed/mR3FeR0oMlU', allowfullscreen='')
				.yt-api-cont
					.g-ytsubscribe(data-channelid='UC_jExvqWhRlM-gBt9iEsLxA', data-layout='default', data-count='default')
				.accordion#desc-drop-0
					.card
						.card-header#vid0
							.mb-0
								button.btn.btn-link(type="button" data-toggle="collapse" data-target="#desc0" aria-expanded="true" aria-controls="desc0") Description
					#desc0.collapse(aria-labelledby="vid0" data-parent="#desc-drop-0")
						.card-body.description
							| Our first show with our new line up as Dead Ringer! Later to be changed to Yes Devil..    
							.yesdevil -YES DEVIL

			hr






