extends navbars.pug

block content

	#merch.container
		h5.text-center COMING SOON...we promise
		//- #product-list.row
			
		//- 	.col-sm
		//- 		.card.product
		//- 			img.card-img-top(src='../static/css/images/merch/shirt1.jpg', alt='Card image cap')
		//- 			.card-body
		//- 				h5.card-title.product-name T-Shirt #1
		//- 				p.card-text YES DEVIL
		//- 				.price
		//- 					| $
		//- 					span 10
		//- 				p
		//- 				a#addDevil.btn.btn-danger.btn-block(href='#', data-toggle='modal', data-target='#cart') Add to Cart
		//- 	.col-sm
		//- 		.card.product
		//- 			img.card-img-top(src='../static/css/images/merch/shirt2.jpg', alt='Card image cap')
		//- 			.card-body
		//- 				h5.card-title.product-name T-Shirt #2
		//- 				p.card-text Skull Logo
		//- 				.price
		//- 					| $
		//- 					span 10
		//- 				p
		//- 				a#addDevil.btn.btn-danger.btn-block(href='#', data-toggle='modal', data-target='#cart') Add to Cart
		//- 	.col-sm
		//- 		.card.product
		//- 			img.card-img-top(src='../static/css/images/merch/bracelet1.jpg', alt='Card image cap')
		//- 			.card-body
		//- 				h5.card-title.product-name Wristbands
		//- 				p.card-text
		//- 					| Yes Devil, The High Cost of Living Low
		//- 				.price
		//- 					| $
		//- 					span 3
		//- 				p
		//- 				a#addWristband.btn.btn-danger.btn-block(href='#', data-toggle='modal', data-target='#cart') Add to Cart
			//- .col-sm.ghost


