html, body {
	font-family: 'Sancreek';
	font-size: 22px;
	background-color: #272727;

}

.comingsoon {
	font-size: 22px;
	text-align: center;
}

.yesdevil {
	color: darkred;
	text-shadow: 2px 1px black;
	font-size: 25px;
}

.navbar-light .navbar-brand.yesdevil {
	font-size: 30px;
	color: darkred;
	text-shadow: 2px 1px #3B0600 ;
}

nav {
	font-size: 21px;
	background-color: black;
}



.navbar-nav a.nav-link.nav-item:hover {
	color: darkred;
}

.navbar-nav {
	width: 100%;
}

.navbar-toggler {
	background-color: white;
}

.sidebar {
	right: 0;
	z-index: 2;
	display: inline-grid;
	margin-top: 46px;
}

@media only screen and (max-width: 617px) {
    .sidebar {
    	display: none;
    }
}

.socmed.sidebar img {
	width: 55px;
	margin-top: 4px;
	background-color: white;
	border-radius: 13px;
	box-shadow: -1px 1px 0px white;
}

.socmed img:hover {
	background-color: darkred;
}


.signup {
	font-size: 16px;
	font-weight: italic;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.background-pic img {
	max-width: 100%;
}

.nav.upcomingshows {
	background-color: black;
	color: darkred;
	text-shadow: 2px 1px #3B0600;
	box-shadow: 0px -1px 13px black;
}

#upcomingshows {
	margin: 33px 33px 0px 33px;
	padding-bottom: 33px;
}

#upcomingshows h5 {
	text-align: center;
	margin: 27px 0px;
	color: darkred;
	text-shadow: 1px 1px black;
}

.showad {
	margin-bottom: 20px;
	max-width: 366px;
}

.showad img {
	border: 3px solid black;
    border-radius: 7px;
}

#upcomingshows .card {
	font-size: 20px;
	min-width: 288px;
}

.showinfo {
	padding: 0px;
}

.showinfo .card {
	min-width: 288px;
	height: inherit;
	border: none;
}

.showinfo .card-title {
	color: darkred;
	text-shadow: 1.5px 1px black;
}

.showinfo button {
	margin-top: 5px;
}

.showinfo button span {
	float: right;
	margin-right: 10px;
}

.showinfo .list-group-item {
	text-shadow: 1px 1px darkred;
}

.showinfo .list-group-item span {
	color: black;
	text-shadow: none;
}

#alboom {
	text-shadow: 1.5px 1px #cf212a;
	color: white;
}

.showinfo .text-center {
	padding-top: 0px;
}


#upcomingshows .card .card-title {
	font-size: 27px;
}

#upcomingshows .card .card-link {
	font-size: 23px;
}

.text-center.gettix {
	padding: 6px 0px;
}

h5 {
	margin: 16px;
}

#music .row {
	margin: 0px;
}

/*#music .row.album {
	padding-top: 44px;
}*/

.nav.thcoll {
	background-color: black;
	border-top: .5px solid white;
	box-shadow: 0px -1px 13px black;
	position: sticky;
	z-index: 100;
	top: 95.5px;
	width: 100%;
}


#album-name {
	text-decoration: underline;
	margin: 0px 16px;
	
	color: black;
	text-shadow: 2px 1px 0px black;
}

.stem {
	width: 100%;

}

.stem.text-center {
	color: darkred;
	text-shadow: 1px 1px 0px black;
	margin-bottom: 33px;
}

#leaves {
	display: block;
	width: 333px;
	height: 77px;
	margin: auto;
	margin-bottom: 27px;
}

#vango {
	width: 133px;
	display: block;
	margin: auto;
	margin-bottom: 13px;
}

#album-cover {
	max-width: 100%;
	border: 5px solid black;
}

#album-stuff {
	max-width: 535px;
}



.hcll {
	height: auto;
	margin: auto;
}

#music .col {
	max-width: 333px;

}

#music .col.img-container {
	max-width: 420px;
}

.musicvid {
    max-height: 394px;
    padding-left: 0px;
    padding-right: 0px;
    border: 3px white solid;
    background-color: black;
    margin: 0px 5%;
}

#vid-cont {
	background-color: black;
}

.cbsingle {
	min-width: 300px;
	max-width: 420px;
	margin-bottom: 33px;
}

.album h5 {
	text-align: center;

}

h5#featured{
	color: darkred;
	text-shadow: 1px 1px white;
	text-align: center;
	padding-top: 27px;
	margin: 0px 16px 27px 16px;
}

.cbsingle img {
	width: 100%;
	border-radius: 7px;
}

#album-stuff .nav {
	color: white;
}

.nav-tabs .nav-link.active {
	color: white;
	background-color: black;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

#music ul {
	max-width: 100%;
}

#music .list-group {
	margin: 33px 0px;
	max-width: 100%;
	min-width: 300px;
}



@media only screen and (max-width: 513px) {
	.shit {
		max-width: 100%;
	}
}

.alboom {
	font-style: italic;
}

#music .list-group-item {
	max-width: 100%;
}

#lyrics .nav-link.active {
	color: darkred;
}

#songs .list-group-item {
	text-align: center;
	max-width: 100%;
}

#lyrics .list-group-item {
		min-width: 475px;
	}

@media only screen and (max-width: 600px) {
	#lyrics .list-group-item {
		min-width: 0px;
	}
}
#lyrics li {
	text-align: center;
	font-size: 20px;
}

#lyrics h5 {
	text-shadow: 1px 1px 0px darkred;
}

#credits {
	text-align: center;
	font-size: 20px;
	max-width: 472px;
	color: white;
}

#credits h6 {
	text-shadow: 1px 1px white;
	margin: 33px 0px 13px 0px;
	color: darkred;
}

.buyalbum {
	margin: 29px 29%;	
}
/*
#songs button {
	background-color: #ec7a88;
}*/

.itunes {
	width: 106px;
}
.nav.merchstore {
	background-color: black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border:.5px solid white;
	border-top: none;
	box-shadow: 0px -1px 13px black;
	position: sticky;
	z-index: 1;
	top: 95.5px;
	width: 100%;
}

#merch {
	font-size: 18px;

	color: white;
}

#product-list {
	margin-top: 30px;
	padding-bottom: 30px;
}

#merch h5 {
	margin-top: 24px;
	color: darkred;
	text-shadow: 2px 1px #3B0600;
}

#merch .col-sm {
	margin: 13px 0px;
}

#cart .list-group-item {
	border: none;
}

#merch .card {
	max-width: 366px;
	margin: auto;
}

#merch .card-img-top {
	max-height: 366px;
}

#merch h5.card-title {
	color: black;
	font-size: 27px;
	text-shadow: none;
}

#merch h5.card-title.black {
	color: white;
}

#merch .card-body.black-bg {
	background-color: black;
}

#merch .card-body {
	padding-top: 0px;
}

#merch .card-body p {
	margin-bottom: 0px;
}

#merch .card-text {
	color: #606060;
}

.product .card-body {
	text-align: center;
}

.price {
	color: green;
	margin-bottom: 10px;
}

.ghost {
	display: none;
}

#blog .img-container {
	margin-top: 33px;
}




#blog .img-container img {
	width: 100%;
	border: 2px solid black;
	border-radius: 5px;
	min-width: 300px;
}

#blog h5 {
	color: white;
	text-shadow: 1.5px 1px darkred;
}


#blog .video {
	margin: 13px auto;
	width: 100%;
	background-color: black;
	border: 1px solid black;
}

.blog-post {
	margin: 33px auto;
	max-width: 420px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
}
.a2a_s_snapchat {
	border: 1px solid yellow;
}

.blog-post .title {
	text-shadow: 1.5px 1px darkred;
}

.blog-post hr {
	margin: 5px 0px;
}

.blog-post {
	text-align: center;
	padding-top: 15px;
}

.blog-post .card-header {
	padding: 0px;
}

.blog-post .description {
	padding: 13px 6%;
	font-size: 18px;
}

.accordion {
	margin-top: 21px;
	text-align: center;
}

.accordion .btn-link {
	color: black;
}

.accordion .btn-link:hover {
	color: darkred;
}

.yt-api-cont {
	width: 103px;
	margin: 19px auto;
	height: 19px;
	margin-bottom: 7px;
}

.description {
	text-align: center;
}

#aboutus {
	color: white;
}



.aboutuspic{
	max-width: 90%;
	height: 315px;
	margin-top: 30px;
}

.bio p {
	text-indent: 13%;
	margin: 20px;
	font-style: italic;
	text-align: center;
}

.bio a {
	color: darkred;
}

#aboutus p span {
	font-size: 27px;
	
}

.members h5 {
	text-align: center;
}

.members .row {
	padding-top: 27px;
}

.members img {
	max-width: 100%;
	padding-bottom: 27px;
	border-radius: 5px;
	
}
 .members p {
 	margin: auto;
 	padding-bottom: 33px;
 	min-width: 333px;
 	text-align: center;
 }

 .a2a_kit {
 	margin: auto;
 }

 span.a2a_svg {
 	height: 44px;
 	width: 44px;
 }

 .followme {
 	height: 77px;
 	width: 200px;
 	margin: auto;
 	cursor: pointer;
 }

.ind-bio {
	height: 211px;
	margin: auto;

}

.ind-bio a {
	margin: auto;
}

#contact .jumbotron {
	margin-top: 33px;
}

.socmed.contact img{
	width: 55px;
	margin-right: 5px;
	margin-bottom: 13px;
	border-radius: 13px;
	background-color: white;
}

.socmed.contact img:hover {
 background-color: darkred;
}

#contact .sendmsg {
	margin: auto;
}

#contact a {
	color: darkred;
}

.jumbotron p img {
	height: 33px;
}

#fblike {
	margin-top: 24px;
}

#cart .modal-footer {
	padding: 8px;
}

.item-options {
	margin: auto;
}

.item-options .col-auto{
	margin: auto;
}
#wristband-conf {
	margin-bottom: 27px;
}

#cart .item-image {
	width: 187px;
}

.item-options .col-auto .form-group {
	margin: auto;
}

.emptymsg {
	text-align: center;
}

#cart .item-name {
	text-align: center;
}

.item-cost {
	color: green;
}

.cart-button img {
	width: 27px;
}

.total-cost {
	font-size: 20px;
}

.total-cost span {
	color: green;
}

.total {
	font-size: 22px
}

.trash img {
	cursor: pointer;
	transition: transform .2s;
}

.trash img:hover {
	 transform: scale(1.15);
}

.breadcrumb {
	border-radius: 0px;
	margin: 0px;
}

.breadcrumb-item.active a{
	color: black;
}

#confirmation .col {
	text-align: center;
}

.nextPrev {
	margin: auto;
	width: fit-content;
}

#billing-info .nextPrev {
	width: 100%;
}

#cart .container {
	margin: 13px 0px;
}


select.form-control:not([size]):not([multiple]) {
	height: 33px;
}

#inputState {
	height: 52px;
}

#cardType {
	height: 52px;
}

#billing-info .input-group {
	margin-bottom: 21px;
}

#billing-info .input-group .form-group {
	margin: 0px;
	margin-bottom: 0px;
}

#billing-info .input-group .form-group select {
	height: 52px;
}




a {
	cursor: pointer;
}


footer {
	color: white;
}

#footer-links li {
	text-shadow: 1.5px 1px darkred;
}

#footer-links li:hover {
	color: darkred;
	text-shadow: 1.5px 1px white;
}

.footer-copyright {
	color: black;
	border: 6px solid black;
}


.footer-copyright a {
	color: darkred;
}

a.disabled {
	color: darkgrey;
	pointer-events: none;
}

a.disabled:hover {
	color: darkgray;
}

.red {
	color: darkred;
}

.tempbutton {
	margin: auto;
}

.form-control:focus{border-color: darkred;  box-shadow: none; -webkit-box-shadow: none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

#paymentButton {
	width: fit-content;
}

#paymentButton button span {
	font: 1rem sancreek;
	font-weight: bold;
	box-shadow: none;
	background: transparent;
	border: none;
}
#paymentButton button {
	min-height: 51px;
	background: #e13247;
	box-shadow: none;
	margin-left: 5px;
}

.shippingCost {
	margin: auto;
	padding: 0px;
}

#cost2ship {
	color: green;
	width: fit-content;
}

.btn-danger {
	background-color: darkred;
}

.btn-danger:hover {
	background-color: black;
}

.badge-danger {
	background-color: darkred;
}

.badge-danger:hover {
	background-color: black;
}

#facebook {
	color: white;
}

#contact .form-group {
	color: darkred;
	text-shadow: 1px 1px black;
}
