html, body {
	font-family: 'Sancreek';
	font-size: 22px;
}

.comingsoon {
	font-size: 22px;
	text-align: center;
}

.yesdevil {
	color: darkred;
	text-shadow: 2px 1px black;
	font-size: 25px;
}

.navbar-light .navbar-brand.yesdevil {
	font-size: 30px;
	color: darkred;
	text-shadow: 2px 1px black;
}



nav {
	font-size: 21px;
}

.nav-item:hover {
	text-shadow: 1px 1px darkred;
}

.navbar-nav {
	width: 100%;
}

.sidebar {
	right: 0;
	z-index: 2;
	display: inline-grid;
	margin-top: 46px;
}

@media only screen and (max-width: 617px) {
    .sidebar {
    	display: none;
    }
}

.socmed.sidebar img {
	width: 55px;
	margin-top: 4px;
	background-color: white;
	border-radius: 13px;
	box-shadow: -1px 1px 0px white;
}

.socmed img:hover {
	background-color: darkred;
}


.signup {
	font-size: 16px;
	font-weight: italic;
}



.background-pic img {
	max-width: 100%;
}

#upcomingshows {
	margin: 13px 33px 33px 33px;
}

#upcomingshows h5 {
	margin: 27px 0px;
}

.showad {
	margin-bottom: 20px;
	max-width: 366px;
}

.showad img {
	border: 3px solid black;
    border-radius: 7px;
}

#upcomingshows .card {
	font-size: 20px;
	min-width: 288px;
}

.showinfo {
	padding: 0px;
}

.showinfo .card {
	min-width: 288px;
	height: inherit;
	border: none;
}

.showinfo .card-title {
	color: darkred;
	text-shadow: 1px 1px 2px black;
}

.showinfo button {
	height: 0px;
}

.showinfo button span {
	float: right;
	margin-right: 10px;
}

.showinfo .list-group-item span {
	color: #E8E8E8;
	text-shadow: 0px 0px 2px black;
}

.showinfo .text-center {
	padding-top: 0px;
}


#upcomingshows .card .card-title {
	font-size: 27px;
}

#upcomingshows .card .card-link {
	font-size: 23px;
}

.text-center.gettix {
	padding: 6px 0px;
}

h5 {
	margin: 16px;
}

#music .row {
	padding-bottom: 33px;
}

/*#music .row.album {
	padding-top: 44px;
}*/
.img-container {
	max-width: 433px;
}

#album-cover {
	max-width: 100%;
}

.hcll {
	height: 200px;
	margin: auto;
}

#music .col {
	max-width: 690px;

}
.musicvid {
    max-height: 388px;
}

.cbsingle {
	max-width: 666px;
	margin-bottom: 33px;
}

.cbsingle img {
	width: 100%;
	border-radius: 7px;
}

#music .nav-link.active {
	color: black;
}

#music ul {
	max-width: 100%;
}

#music .list-group {
	margin: 33px 0px;
}

#lyrics .nav-link.active {
	color: black;
}

#songs .list-group-item {
	text-align: center;
}

#lyrics .list-group-item {
		min-width: 475px;
	}

@media only screen and (max-width: 600px) {
	#lyrics .list-group-item {
		min-width: 0px;
	}
}
#lyrics li {
	text-align: center;
	font-size: 20px;
}

#lyrics h5 {
	text-shadow: 1px 1px .5px darkred;
}

.credits {
	font-size: 17px;
}

.buyalbum {
	margin: 0px 13px 27px 13px;	
}

#songs button {
	background-color: #ec7a88;
}

.itunes {
	width: 106px;
}

#merch {
	font-size: 18px;
}

#merch h5 {
	margin-top: 24px;
}

#merch .col-sm {
	margin: 13px 0px;
}

#cart .list-group-item {
	border: none;
}

#merch .card {
	max-width: 366px;
	margin: auto;
}

#merch .card-img-top {
	max-height: 366px;
}

#merch .card-title {
	font-size: 27px;
}

#merch .card-body {
	padding-top: 0px;
}

#merch .card-text {
	color: #606060;
}

.price {
	color: green;
}

.ghost {
	display: none;
}

#blog .video {
	margin: 13px auto;
	width: 66%;
}

.blog-post {
	margin: 33px 0px;
}

.blog-post .date {
	padding-left: 6%;
}

.blog-post .description {
	padding: 0px 6%;
	font-size: 18px;
}

@media only screen and (max-width: 992px) {
    #blog .video{
    	width: 90%;
    }
}

.seemore {
	display: flex;
}

#blog button {
	margin: 13px auto;
}

.yt-api-cont {
	width: 103px;
	margin: auto;
	height: 24px;
	margin-bottom: 7px;
}

.description {
	text-align: center;
}

#aboutus h5 {
	margin-top: 18px;
}

.aboutuspic{
	max-width: 90%;
	height: 366px;
	border: 2px solid black;
}

.bio p {
	text-indent: 13%;
	margin: 20px;
	font-style: italic;
}

#aboutus p span {
	font-size: 27px;
	
}

.members h5 {
	text-align: center;
}

.members .row {
	padding-top: 27px;
}

.members img {
	max-width: 100%;
	padding-bottom: 27px;
	
}
 .members p {
 	margin: auto;
 	padding-bottom: 33px;
 	min-width: 333px;
 	text-align: center;
 }

 .a2a_kit {
 	margin: auto;
 }

 span.a2a_svg {
 	height: 44px;
 	width: 44px;
 }

 .followme {
 	height: 77px;
 	width: 200px;
 	margin: auto;
 	cursor: pointer;
 }

.ind-bio {
	height: 211px;
	margin: auto;

}

.ind-bio a {
	margin: auto;
}

#contact .jumbotron {
	margin-top: 33px;
}

.socmed.contact img{
	width: 55px;
	margin-right: 5px;
	margin-bottom: 13px;
	border-radius: 13px;
	background-color: white;
}

.socmed.contact img:hover {
 background-color: darkred;
}

#contact .sendmsg {
	margin: auto;
}

.jumbotron p img {
	height: 33px;
}

#fblike {
	margin-top: 24px;
}

#cart .modal-footer {
	padding: 8px;
}

.item-options {
	margin: auto;
}

.item-options .col-auto{
	margin: auto;
}
#wristband-conf {
	margin-bottom: 27px;
}

#cart .item-image {
	width: 187px;
}

.item-options .col-auto .form-group {
	margin: auto;
}

.emptymsg {
	text-align: center;
}

#cart .item-name {
	text-align: center;
}

.item-cost {
	color: green;
}

.cart-button img {
	width: 27px;
}

.total-cost {
	font-size: 20px;
}

.total-cost span {
	color: green;
}

.total {
	font-size: 22px
}

.trash img {
	cursor: pointer;
	transition: transform .2s;
}

.trash img:hover {
	 transform: scale(1.15);
}

.breadcrumb {
	border-radius: 0px;
	margin: 0px;
}

.breadcrumb-item.active a{
	color: black;
}

#confirmation .col {
	text-align: center;
}

.nextPrev {
	margin: auto;
	width: fit-content;
}

#billing-info .nextPrev {
	width: 100%;
}

#cart .container {
	margin: 13px 0px;
}


select.form-control:not([size]):not([multiple]) {
	height: 33px;
}

#inputState {
	height: 52px;
}

#cardType {
	height: 52px;
}

#billing-info .input-group {
	margin-bottom: 21px;
}

#billing-info .input-group .form-group {
	margin: 0px;
	margin-bottom: 0px;
}

#billing-info .input-group .form-group select {
	height: 52px;
}




a {
	color: darkred;
}

a:hover {
	color: black;
}

footer a {
	color: grey;
	text-shadow: 1px 1px 0px black;
}

.footer-copyright a {
	color: darkred;
}

a.disabled {
	color: darkgrey;
	pointer-events: none;
}

a.disabled:hover {
	color: darkgray;
}

.red {
	color: darkred;
}

.tempbutton {
	margin: auto;
}

.form-control:focus{border-color: darkred;  box-shadow: none; -webkit-box-shadow: none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

#paymentButton {
	width: fit-content;
}

#paymentButton button span {
	font: 1rem sancreek;
	font-weight: bold;
	box-shadow: none;
	background: transparent;
	border: none;
}
#paymentButton button {
	min-height: 51px;
	background: #e13247;
	box-shadow: none;
	margin-left: 5px;
}

.shippingCost {
	margin: auto;
	padding: 0px;
}

#cost2ship {
	color: green;
	width: fit-content;
}
