extends navbars.pug

block content

	#contact.container
		.row
			.col-lg
				.jumbotron
					h5 Contact Information:
					hr.my-4
					p
						img(src='../static/css/images/icons/phone.svg')
						a(href='tel:+9252627761') 925-262-7761
					hr.my-4
					p
						img(src='../static/css/images/icons/envelope-closed.svg')
						a(href='mailto:contact@yesdevil.com')  &nbsp contact@yesdevil.com
					hr.my-4
					.socmed.contact
						a(href='https://www.facebook.com/YESDEVIL/', target='_blank')
							img(src='../static/css/images/icons/facebook.svg')
						a(href='https://www.instagram.com/yes_devil/?hl=en', target='_blank')
							img(src='../static/css/images/icons/instagram.svg')
						a(href='https://www.youtube.com/channel/UC_jExvqWhRlM-gBt9iEsLxA', target='_blank')
							img(src='../static/css/images/icons/youtube.svg')
						a(href='https://soundcloud.com/yesdevil', target='_blank')
							img(src='../static/css/images/icons/soundcloud.svg')
						a(href='https://open.spotify.com/album/0AHnuZiQ2wPtntjP9jOXHj?si=L2X71tETRMujmALGs8wzjg', target='_blank')
							img(src='../static/css/images/icons/spotify.svg')
						
			.col-lg.sendmsg
				form(action='https://formspree.io/loganjbars@gmail.com', method='POST')
					.form-group
						label(for='exampleFormControlInput1') Email address
						input#exampleFormControlInput1.form-control(type='email', name='email', placeholder='email@example.com')
					.form-group
						label(for='exampleFormControlInput1') Subject
						input#exampleFormControlInput1.form-control(name='subject', placeholder='Enter Subject Here')
					.form-group
						label(for='exampleFormControlTextarea1') Message
						textarea#exampleFormControlTextarea1.form-control(name='message', rows='3', placeholder='Enter Message Here')
					button.btn.btn-primary.btn-block.btn-danger(type='submit', value='send') Submit

